header {
    background: #1060AC;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-text {
    color: white;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
